{%extends 'base.html'%}
{% block content %}
<div class="shadow p-3 mb-5 bg-body rounded">
    <h3 id='list_header' align="center">User List</h3>
</div>
<table class="table table-hover table-border table-striped">
{% for contract in contracts%}
    <tr>
    <td id="displayData">
        {{contract.user_id}}. <a href="{{
        url_for('views.profile', id=contract.user.id)}}">{{
            contract.user.first_name}} {{
            contract.user.last_name}}</a> - {{
            contract.user.email}} - {{
            contract.user.phone}} 
            <div class="form-check form-switch">

            {% if contract.user.id in admins or contract.user.id == contract.campaign.owner_id %}
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckCheckedDisabled" checked disabled>
            <label class="form-check-label" for="flexSwitchCheckCheckedDisabled"></label>Administrator
            {% else %}
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDisabled" disabled>
            <label class="form-check-label" for="flexSwitchCheckDisabled"></label>Administrator
            {% endif %}

            <br>

            {% if contract.getting_paid %}
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckCheckedDisabled" checked disabled>
                <label class="form-check-label" for="flexSwitchCheckCheckedDisabled"></label>Getting Paid
            {% else %}
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDisabled" disabled>
                <label class="form-check-label" for="flexSwitchCheckDisabled"></label>Getting Paid
            {% endif %}

            <br> 

            {% if contract.getting_commute_pay %}
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckCheckedDisabled" checked disabled>
                <label class="form-check-label" for="flexSwitchCheckCheckedDisabled"></label>Getting Commute Pay
            {% else %}
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDisabled" disabled>
                <label class="form-check-label" for="flexSwitchCheckDisabled"></label>Getting Commute Pay
            {% endif %}

        </div>
    </td>
    
    {% if contract.user.id in admins or contract.user.id == contract.campaign.owner_id %}
    <td id="deleteTable"> <a href="{{url_for('campaign_route.campaign_admin_remove', campaign_id=campaign_id, admin_id=contract.user.id)}}" role="button" class="btn btn-outline-primary" >Remove Administrator</button></td>

    {% else %}
    <td id="deleteTable"> <a href="{{url_for('campaign_route.campaign_admin_add', campaign_id=campaign_id, user_id=contract.user.id)}}" role="button" class="btn btn-outline-primary" >Add Administrator</button></td>
    
    {% endif %}
    
    <td id="deleteTable"> <a href="{{url_for('campaign_route.campaign_edit_user_contract', campaign_id=campaign_id, user_id=contract.user.id)}}" role="button" class="btn btn-outline-primary" >Edit</button></td>

    </tr>
{%endfor%}
</table>
{% endblock %}