{%extends 'base.html'%}
{% block content %}
    <div class="shadow p-3 mb-5 bg-body rounded">
        <h3 id='list_header' align="center">Campaign Dashboard</h3>
    </div>

    {%if (status == 'admin') or  (status == 'owner')%}
    <a href="{{url_for('campaign_route.campaign_update', id=campaign.id)}}" 
    role="button" class="btn btn-outline-dark btn-sm"  style="margin-bottom: 1rem">Edit Campaign</a>
    {%endif%}

    <div id="flex_parent_element">
        <div id="flex_child_element">
            <strong>ID: </strong>{{ campaign.id }}<br/>
            <strong>Candidate: </strong>{{ campaign.candidate }}<br/>
            <strong>Alias: </strong>{{ campaign.alias }}<br/>
            <strong>Join Code: </strong>{{ campaign.hex_code }}<br/>
            <strong>Riding: </strong>{{ campaign.riding }}<br/>
            <strong>Government Level: </strong>{{ campaign.gov_level_id }}<br>

        </div>

        {%if (status == 'admin') or  (status == 'owner')%}

        <div id="flex_child_element">

            <strong>Owner: </strong>{{ campaign.owner.first_name }} {{ campaign.owner.last_name }} - {{ campaign.owner.alias }}<br/>
            <strong>Commute Pay: </strong>{{ campaign.pay_rates['commute_rate'] }}<br/>
            <strong>Canvass Rate: </strong>{{ campaign.pay_rates['canvass_rate']}}<br/>
            <strong>Calling Rate: </strong>{{ campaign.pay_rates['calling_rate'] }}<br/>
            <strong>General Rate: </strong>{{ campaign.pay_rates['general_rate'] }}<br/>
            <strong>General Rate: </strong>{{ campaign.pay_rates['admin_rate'] }}<br/>
            <strong>Litdrop Rate: </strong>{{ campaign.pay_rates['litdrop_rate'] }}<br/>
        </div>
    </div>

    <br>

    <div class="d-grid gap-2 mx-auto">
        <a href="{{url_for('campaign_route.campaign_user_list', id=campaign.id)}}" role="button" class="btn btn-outline-danger" >View Users</a>
    </div>

<br>

    <div id="button_line_container">
    
        <a href="{{url_for('campaign_route.campaign_shift_add', id=campaign.id)}}" 
        role="button" class="btn btn-danger" >Add Shifts</a>
        
        <a href="{{url_for('campaign_route.campaign_paystamp_upload', id=campaign.id)}}" 
        role="button" class="btn btn-danger" >Add Payments</a>
        
        <a href="{{url_for('campaign_route.campaign_abstract_add', id=campaign.id)}}" 
        role="button" class="btn btn-danger" >Add Abstracts</a>

        <a href="{{url_for('campaign_route.campaign_receipt_upload', id=campaign.id)}}"
        role="button" class="btn btn-danger">Add Receipts</a>
    
    </div>

    <br>

    <div id="button_line_container">

        <a href="{{url_for('campaign_route.campaign_shift_list', id=campaign.id)}}" 
        role="button" class="btn btn-danger" >View Shifts</a>

        <a href="{{url_for('campaign_route.campaign_payment_list', id=campaign.id)}}" 
        role="button" class="btn btn-danger" >View Payments</a>

        <a href="{{url_for('campaign_route.campaign_abstract_list', id=campaign.id)}}" 
        role="button" class="btn btn-danger" >View Abstracts</a>

        <a href="{{url_for('campaign_route.campaign_receipt_list', id=campaign.id)}}" 
        role="button" class="btn btn-danger" >View Receipts</a>

    </div>

{%endif%}
{% endblock %}
