<div class="shadow p-3 mb-5 bg-body rounded">
    <h3 id='list_header' align="center">Campaigns Owned</h3>
</div>

    <table class="table table-hover table-border table-striped">
        {% for campaign in current_user.campaigns_owned%}
        <tr>
            <td id="displayData">
                {{campaign.id}}. <a href="{{
                url_for('campaign_route.campaign_dashboard', id=campaign.id)}}">{{
                    campaign.alias}}</a>
            </td>
            <td id="displayData">
                {{campaign.riding}}
            </td>
            <td id="displayData">
                {{campaign.hex_code}}
            </td>
            <td id="deleteTable"><a href="{{url_for('campaign_route.campaign_delete', id=campaign.id)}}" role="button" class="btn btn-outline-danger" >Delete</button></td>
        </tr>
    {%endfor%}
</table>
<br>

<div class="shadow p-3 mb-5 bg-body rounded">
    <h3 id='list_header' align="center">Campaigns Administrating</h3>
</div>

<table class="table table-hover table-border table-striped">
    {% for campaign in current_user.admin_campaigns%}
    <tr>
        <td id="displayData">
        {{campaign.id}}. <a href="{{
        url_for('campaign_route.campaign_dashboard', id=campaign.id)}}">{{
            campaign.alias}}</a>
        </td>
        <td id="displayData">
            {{campaign.riding}}
        </td>
        <td id="displayData">
            {{campaign.hex_code}}
        </td>
    </tr>
    {%endfor%}
</table>
<br>

<div class="shadow p-3 mb-5 bg-body rounded">
    <h3 id='list_header' align="center">Campaigns Part Of</h3>
</div>

<table class="table table-hover table-border table-striped">
    {% for contract in current_user.campaign_contracts%}
    <tr>
        <td id="displayData">
        {{contract.campaign.id}}. <a href="{{
        url_for('campaign_route.campaign_dashboard', id=contract.campaign.id)}}">{{
            contract.campaign.alias}}</a>
        </td>
        <td id="displayData">
            {{contract.campaign.riding}}
        </td>
        <td id="displayData">
            {{contract.campaign.hex_code}}
        </td>
    </tr>
    {%endfor%}
</table>