<!DOCTYPE html>
<html>
<head>

</head>
<body>
    {%extends 'base.html'%}
    {% block content %}
    <div class="shadow p-3 mb-5 bg-body rounded">
    <h3 align="center">Update User Contract</h3>

    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.user.label(class='form-label')}}
        {{ form.user(class='form-control', value=contract.user, readonly=readonly)}}
        <br/>
        {{ form.hidden_tag() }}
        {{ form.campaign.label(class='form-label')}}
        {{ form.campaign(class='form-control', value=contract.campaign, readonly=readonly)}}
        <br/>
        <div class="form-check form-switch">
        {{ form.hidden_tag() }}
        {{ form.getting_paid.label(class='form-check-label', for="flexSwitchCheckDefault")}}
        {{ form.getting_paid(class='form-check-input', type="checkbox", role="switch", id="flexSwitchCheckDefault", value=contract.getting_paid)}}
        <br/>
        {{ form.hidden_tag() }}
        {{ form.getting_commute_pay.label(class='form-check-label', for="flexSwitchCheckDefault")}}
        {{ form.getting_commute_pay(class='form-check-input', type="checkbox", role="switch", id="flexSwitchCheckDefault", value=contract.getting_commute_pay)}}
        </div>
        <br/>
        {{ form.hidden_tag() }}
        {{ form.admin_rate.label(class='form-label')}}
        {{ form.admin_rate(class='form-control', value=contract.pay_rates['admin_rate'])}}
        <br/>
        {{ form.hidden_tag() }}
        {{ form.canvass_rate.label(class='form-label')}}
        {{ form.canvass_rate(class='form-control', value=contract.pay_rates['canvass_rate'])}}
        <br/>
        {{ form.hidden_tag() }}
        {{ form.calling_rate.label(class='form-label')}}
        {{ form.calling_rate(class='form-control', value=contract.pay_rates['calling_rate'])}}
        <br/>
        {{ form.hidden_tag() }}
        {{ form.general_rate.label(class='form-label')}}
        {{ form.general_rate(class='form-control', value=contract.pay_rates['general_rate'])}}
        <br/>
        {{ form.hidden_tag() }}
        {{ form.litdrop_rate.label(class='form-label')}}
        {{ form.litdrop_rate(class='form-control', value=contract.pay_rates['litdrop_rate'])}}
        <br/>
        {{ form.hidden_tag() }}
        {{ form.commute_rate.label(class='form-label')}}
        {{ form.commute_rate(class='form-control', value=contract.pay_rates['commute_rate'])}}
        <br/>
        {{ form.submit(class='btn btn-danger') }}
    </form>
</div>
    {% endblock %}
</body>
</html>