<!DOCTYPE html>
<html>
<head>

</head>
<body>
    {%extends 'base.html'%}
    {% block content %}
    <div class="shadow p-3 mb-5 bg-body rounded">
    <h3 align="center">Login</h3>
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.command.label(class='form-label')}}
        {{ form.command(class='form-control')}}
        <br/>
        {{ form.hidden_tag() }}
        {{ form.message.label(class='form-label')}}
        {{ form.message(class='form-control')}}
        <br/>
        {{ form.submit(class='btn btn-danger')}}
    </form>
    </div>
    {% endblock %}
</body>
</html>