<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #de1b32;" >
    <a class="navbar-brand" id="navbar-logo" href="/">PMW</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        {%if current_user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('views.profile', id=current_user.id)}}">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('campaign_route.campaign_create')}}">Join/Create Campaign</a>
        </li>
        {%if current_user.system_level_id > 3%}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Lists
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/user_list">User List</a></li>
            <li><a class="dropdown-item" href="/campaign_list">Campaign List</a></li>
            <li><a class="dropdown-item" href="/abstract_list">Abstract List</a></li>
            <li><a class="dropdown-item" href="/shift_list">Shift List</a></li>
            <li><a class="dropdown-item" href="/paystamp_list">Payment List</a></li>
            <li><a class="dropdown-item" href="/receipt_list">Receipt List</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Data
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/shift_add">Add Shift</a></li>
            <li><a class="dropdown-item" href="/abstract_add">Add Abstract</a></li>
            <li><a class="dropdown-item" href="/paystamp_upload">Upload Payment Record</a></li>
            <li><a class="dropdown-item" href="/receipt_upload">Upload Receipt</a></li>
            <li><a class="dropdown-item" href="/shift_add">Import</a></li>
            <li><a class="dropdown-item" href="/shift_add">Export</a></li>
          </ul>
        </li>
        {%endif%}
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
        {%else%}
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signup">Sign Up</a>
        </li>
        {%endif%}
      </ul>
    </div>
  </nav>