#deleteTable {
    text-align: center;
    margin-right: 25%;
}

#displayData{
    vertical-align: middle;
    padding-left: 2rem;
}

body {
    font-family: 'Open Sans', sans-serif !important;
}

#list_header {
    margin-top: 0.5rem;
}

#data_list {
    margin-top: 5rem;
}

#shift_add_form {
    margin-top: 1rem;
}

#navbar-logo {
    margin-left: 1.25rem;
}

#button_line_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
#button_line_obj {
    padding: 1rem;
}

#flex_parent_element {
    display: flex;
    justify-content: space-between;
    padding-right: 20%;
  }

  
  #flex_child_element:first-child {
    margin-right: 20px;
  }
  

/*
a {
    color: #007bff;
}

.navbar {
    border-radius: 0;
    font-family: 'Open Sans', sans-serif !important;
}

.navbar-dark .navbar-nav .nav-link {
    /*color: rgba(255, 255, 255, 0.753);
}

.navbar-brand{
    font-weight: 500;
    font-size: 3rem;
}
*/

