#deleteTable {
    text-align: center;
    margin-right: 25%;
}

#displayData{
    vertical-align: middle;
    padding-left: 2rem;
}

body {
    font-family: 'Open Sans', sans-serif !important;
}

#list_header {
    margin-top: 0.5rem;
}

#shift_add_form {
    margin-top: 1rem;
}

#navbar-brand {
    margin-left: 1.25rem;;
}
/*
a {
    color: #007bff;
}

.navbar {
    border-radius: 0;
    font-family: 'Open Sans', sans-serif !important;
}

.navbar-dark .navbar-nav .nav-link {
    /*color: rgba(255, 255, 255, 0.753);
}

.navbar-brand{
    font-weight: 500;
    font-size: 3rem;
}
*/

